{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}" />
{% endblock %}
<!-- al tener el extends trae el layout su footer y su body todo -->
{% block body %}

<div class="bord">
    <div class="d-flex justify-content-end mb-3">
        <a href="/add-contact" class="btn btn-info btn-sm">Nuevo candidato</a>
    </div>
    <table class="table table-striped table-borderer table-light">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Linkedin</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            {% for candidato in candidatos %}
            <tr>
                <!-- con el for se accede a los datos y con el indice los mostramos en los td -->
                <td>{{candidato.1}}</td>
                <td>{{candidato.2}}</td>
                <td>{{candidato.3}}</td> 
                <td>{{candidato.4}}</td> 
                <td><a href="//{{candidato.5}}" target="_blank">{{candidato.5}}</a></td>
                <td>{{estados[candidato.6-1][1]}}</td>
                <td class="align-middle">
                    <div id="options" >
                        <!-- en la linea de abajo le paso el indice {{0}} para que sepa el id-->
                        <a href="/edit/{{candidato.0}}" class="btn btn-info btn-sm">Modificar</a>
                        <a href="/state/{{candidato.0}}" class="btn btn-success btn-sm">Estado</a>
                        <a href="/delete/{{candidato.0}}" class="btn btn-secondary btn-delete btn-sm">Eliminar</a>
                    </div>
                </td>           
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock%}