<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicant Tracking System</title>
    <button style="border: solid 1px #860abf;"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt">Cerrar Sesion</i></a></button>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Applicant Tracking System</a>          
        </div>
    </nav>
    <div class="container">
        {% with messagges = get_flashed_messages() %}
            {% if messagges %} 
                {% for message in messagges %}       
                    <div class="alert alert-info alert-dismissible fade show mt-2" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </div>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>