
	{% extends 'layout.html' %}

	{% block title %}Registrarse{% endblock %}
	{% block body %}
	<body>
		<div class="register">
			<h1>Registrarse<br>Applicant Tracking System</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Registrarse</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">		
                <label for="usuario">
					<i class="fas fa-id-card"></i>
				</label>
				<input type="text" name="usuario" placeholder="Usuario" id="usuario" required>
                <label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Contraseña" id="password" minlength="5" maxlength="10" required>
				<label for="nombre">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="nombre" placeholder="Nombre" id="nombre" required>
				<label for="apellido">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="apellido" placeholder="Apellido" id="apellido" required>
				
				<div class="msg-error">{{ error }}</div>
				<input type="submit" value="Registrarse">
			</form>
		</div>
	</body>
	{% endblock%}
